{% extends "myapp/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4 rounded-4">
        <h3 class="text-center mb-4">Task</h3>

        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                {{ form.as_p }}
            </div>

            <div class="d-grid">
                <button class="btn btn-primary rounded-pill py-2" type="submit">
                    ➕ Save Task
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
isko html and tailwi